/* Text */
.project-information { color: #333; font: normal 9px/12px Verdana, Arial, sans-serif; }
.project-information h2.project-name {
  color: #111; font: bold 9px/12px Verdana, Arial, sans-serif;
  margin-right: .5em; display: inline; }
.project-information .project-location { margin-left: .5em; font-style: italic; }
.project-information p { margin-top: 5px; }

/* Layout */
.node-project { position: relative; }
.gallery-description { width: 514px; margin: 0 auto; padding-top: 380px; }
.project-information { width: 452px; background-color: #DED6A5; }
.project-information .fieldset-wrapper { padding: 8px; }
/* center images within their parent slide */
.gallery-slide { overflow: hidden; position: relative; }
.gallery-slide-padding { position: absolute; top: 50%; width: 100%; }
.gallery-image-wrapper { position: relative; top: -50%; width: 100%; text-align: center; }
.gallery-image-wrapper img { margin: 0 auto; border: solid 1px #444; }
/* for non-explorer browsers, center vertically using table-cell display */
.gallery-slide[class] { display: table; position: static; }
.gallery-slide-padding[class] { display: table-cell; vertical-align: middle; position: static; }

/* Galleryformatter defaults */
.galleryformatter-projectgallery .gallery-thumbs .arrow,
.galleryformatter-projectgallery .gallery-thumbs .wrapper,
.galleryformatter-projectgallery .gallery-thumbs li.active a,
.galleryformatter-projectgallery .gallery-thumbs li a:hover,
.galleryformatter-projectgallery .view-full { background:url("images/sprite.png") no-repeat scroll 0 0 transparent; }

.galleryformatter-projectgallery .gallery-slides .panel-overlay {
  position: absolute;
  bottom: 0.5em; left: 0;
  background: transparent url(images/bg-trans.png) repeat;
  width:100%;
  color: white;
}
.galleryformatter-projectgallery .gallery-slides .panel-overlay .overlay-inner { padding: 10px; }
.galleryformatter-projectgallery .gallery-thumbs .wrapper {
  overflow: auto;
  line-height:0;
  background-position: center -326px;
  background-repeat: repeat-x;
}
.galleryformatter-projectgallery .view-full {
  background-position:center -205px;
  height:46px; width:46px;
  margin:10px;
  position:absolute;
  right:0; top:0;
  text-indent:-9999px;
}
.galleryformatter-projectgallery a:hover .view-full {
  background-position: center -252px;
}

.galleryformatter-projectgallery .gallery-thumbs li { margin-bottom: 12px; padding: 0; }
.galleryformatter-projectgallery .gallery-thumbs li a { display: block; }
.galleryformatter-projectgallery .gallery-thumbs li a:hover { background-position: center -307px; }
.galleryformatter-projectgallery .gallery-thumbs li.active a { background-position: center -303px; }

.galleryformatter-projectgallery .gallery-thumbs li.active img,
.galleryformatter-projectgallery .gallery-thumbs li a:hover img {
  filter:alpha(opacity=100);
  -ms-filter:”alpha(opacity=100)”;
  -moz-opacity:1;
  -khtml-opacity: 1;
  opacity: 1;
}
.galleryformatter-projectgallery .gallery-thumbs li img {
  filter:alpha(opacity=60);
  -ms-filter:”alpha(opacity=60)”;
  -moz-opacity:0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  border: solid 1px #444;
}

.galleryformatter-projectgallery .gallery-thumbs .arrow {
  bottom:0;
  display:block;
  height:46px;
  position:absolute;
  text-indent:-9999px;
  width:46px;
}

.galleryformatter-projectgallery .gallery-thumbs .forward { background-position: 0px 0; right: 0; }
.galleryformatter-projectgallery .gallery-thumbs .back { background-position: -4px -102px; left: 0; }
.galleryformatter-projectgallery .gallery-thumbs .forward:hover { background-position: 0px -52px; }
.galleryformatter-projectgallery .gallery-thumbs .back:hover { background-position: -4px -156px; }

.galleryformatter-projectgallery .slide-button {
  background: transparent url(images/next-prev.png) no-repeat top left;
  height: 64px;
  width: 32px;
  top: 43%;
  text-indent: -9999px;
  filter:alpha(opacity=20);
  -ms-filter:”alpha(opacity=20)”;
  -moz-opacity:0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
}
.galleryformatter-projectgallery .prev-slide { background-position: top left; }
.galleryformatter-projectgallery .next-slide { background-position: top right; }
.galleryformatter-projectgallery .slide-button:hover {
    filter: alpha(opacity=100);
  -ms-filter: ”alpha(opacity=100)”;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
