/* General Styling */
body { background-color: #CEC6AD; }
a:link { COLOR: #333333; }
a:active { COLOR: #000000; }
a:visited { COLOR: #666666; }
a:hover { COLOR: #000000; }
a { font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; }
h2, h2 a { font: normal 18px/18px Arial,sans-serif; }
h2, h2 a:link, h2 a:visited { margin: 0 0 8px 0; color: #E79431; }
h2 a:hover { color: #000; }

/* Page Layout */
#page-wrapper { left: 50%; margin-left: -428px; position: absolute; }
#page { font: 11px/12px Verdana, Arial, sans-serif; padding-left: 68px; SCROLLBAR-FACE-COLOR: #E3E2DC; SCROLLBAR-HIGHLIGHT-COLOR: #EAE9E5; SCROLLBAR-SHADOW-COLOR: #AAA9A5; SCROLLBAR-3DLIGHT-COLOR: #F1F1EE; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #E9E8E3; SCROLLBAR-DARKSHADOW-COLOR: #71716E; }
#header, #main { background-color: #FFF; width: 720px; }

/* Site Header and Main Menu */
#name-and-slogan, #navigation { margin-left: 10px; }
#name-and-slogan { background: transparent url("../img/topupperright.gif") repeat-x scroll right top; }
#site-name a { display: block; width: 205px; height: 47px; background: transparent url("../img/toplogoname.gif") no-repeat scroll left top; }
#navigation { background: transparent url("../img/toplowerright.gif") repeat-x scroll right top; }
#navigation .section { padding-left: 29px; color: #FFF; font: bold 9px/18px Arial, sans-serif; background: transparent url("../img/topyear.gif") no-repeat scroll left top; }
#copyright-year { float: left; margin-left: -21px; position: relative; top: -2px; }
#main-menu a { display: block; float: left; height: 18px; font-size: 0; }
#main-menu .home a { width: 64px; background: transparent url(../img/topbtnhome.gif) no-repeat top left; }
#main-menu .studio a { width: 66px; background: transparent url(../img/topbtnstudio.gif) no-repeat top left; }
#main-menu .projects a { width: 75px; background: transparent url(../img/topbtnproj.gif) no-repeat top left; }
#main-menu .press a { width: 61px; background: transparent url(../img/topbtnpress.gif) no-repeat top left; }
#main-menu .scrapbook a { width: 89px; background: transparent url(../img/topbtnbook.gif) no-repeat top left; }
#main-menu .helpinghand a { width: 106px; background: transparent url(../img/topbtnhelp.gif) no-repeat top left; }

/* Site Footer */
#footer { width: 720px; margin: 6px 0; clear: both; text-align: center; }
#footer .content { color: #111; margin: 0 auto; font: normal 9px/9px Verdana, Arial, sans-serif; }
#footer a { color: #333; font: 10px Verdana, Arial, sans-serif; text-decoration: none; }
#footer a:hover { color: #000; text-decoration: underline; }

/* Page Content */
#page-title { font: normal 18px/18px Arial,sans-serif; margin: 0 0 8px 0; color: #E79431; }
#content { padding: 42px 28px 28px 36px; }

body.page-studio .field-name-body p,
body.page-node .node-profile .field-name-body p { margin: 10px -10px 10px 0; }

/* Profile */
body.page-node .node-profile .field-name-field-profileemail { margin-bottom: 14px; }
body.page-node .node-profile .field-name-field-profileemail a { color: #000; }
body.page-node .node-profile .field-name-field-profileemail a:hover { color: #E79431; }
body.page-node .node-profile .field-name-field-profilephoto { float: left; position: relative; padding-top: 2px; width: 240px; }
body.page-node .node-profile .field-name-body { color: #2F1F0E; font: normal 10px/120% Verdana, Helvetica, sans-serif; margin-left: 240px; }

/* Project Lists */
body.page-projects .pane-title { clear: both; }
body.page-projects .field-content { color: #666; font: normal 9px Verdana, Arial, sans-serif; }
body.page-projects .field-teaser-image { margin-right: 5px; border: 4px solid #333; width: 200px; height: 40px; float: left; text-align: center; }
body.page-projects .field-teaser-image:hover { border-color: #E79431; }
body.page-projects .field-teaser-image,
body.page-projects .field-location { margin-bottom: 8px; }
body.page-projects .field-title a,
body.page-projects .field-location { display: block; width: 415px; margin-left: 213px; }
body.page-projects .field-title a { display: block; padding: 5px 15px 0 10px; color: #333; font: bold 12px/20px Arial, sans-serif; background-color: #E7E7E7; }
body.page-projects .field-title a:hover { color: #E79431; }
body.page-projects .field-location { padding:4px 15px 7px 10px; border-top: 1px solid #fff; background-color:#E7E7E7; }
body.page-projects .more-link { float: right; clear: both; margin: 0; padding: 0 4px 0; font-weight: bold; }
body.page-projects .more-link a:after { content: " \BB"; }

/* Scrapbook */
body.page-scrapbook .views-view-grid td, 
body.page-scrapbook .views-field { width: 200px; }
body.page-scrapbook .views-view-grid td { vertical-align: top; }
body.page-scrapbook .views-field { background: transparent url(../img/bg-scrapbook.gif) repeat-y top left; }
body.page-scrapbook .views-field-title .field-content { display: block; padding: 2px 4px 4px; color: #FFF; font: bold 11px/13px Verdana,Arial,sans-serif; margin-bottom: 14px; }

/* helping_hand-list */
.view-data-node-data-field-charity-image-field-charity-image-fid, .view-item-charity-list .view-data-node-title { margin-top: 14px; }
.view-data-node-data-field-charity-image-field-charity-image-fid { float: right; width: 95px; }
.view-item-charity-list .view-data-node-title { 
  padding:5px 15px 2pt 4px;
  color: #333;
  font: normal 14px/16px Arial, sans-serif;
  background-color: #E7E7E7;
}
.view-item-charity-list .view-data-node-title, .view-item-charity-list .view-data-node-body { float: left; width: 520px; }
.view-item-charity-list .view-data-node-body { margin: 6px 0 0 0; padding: 0 0 0 4px; }
.view-item-charity-list .view-data-node-body a { text-decoration: underline; }
/* press-list */
.view-content-press-list .node {clear:both;
}

.view-item-press-list {
  color: #666;
  font: normal 9px Verdana, Arial, sans-serif;
}

.view-item-press-list .view-field {
  position: relative;
    float: left;
}

.view-data-node-data-field-press-image-field-press-image-fid {
  margin-right: 5px;
  width: 245px; height: 71px;
  text-align: center;
}
.view-data-node-data-field-press-image-field-press-image-fid, .view-item-press-list .view-data-node-body { margin-bottom: 8px; }
.view-item-press-list .view-data-node-title, .view-item-press-list .view-data-node-body { width: 400px; }
.view-item-press-list .view-data-node-title { background-color:#E7E7E7; }
.view-item-press-list .view-data-node-title a {
  display: block;
  padding:5px 15px 0 10px;
  color:#333333;
  font: bold 12px/20px Arial, sans-serif;
}
.view-item-press-list .view-data-node-title a:hover { color: #E79431; }
.view-item-press-list .view-data-node-body {
  padding: 0 0 0 2px;
}

/* studio-panel */
.panel-2col-stacked { overflow: visible; }
.panel-2col-stacked div div { margin: 0; }
.panel-2col-stacked .panel-col-top > div { margin: 0; }
.view-content-profile-teaser-list { text-align: center; }
.view-content-profile-teaser-list div { display: inline; }
.view-content-profile-teaser-list .item-list {
  margin: 0;
}
/*.view-content-profile-teaser-list ul li {*/
.view-content-profile-teaser-list .node {
  margin: 0 3px 0 0; padding: 0;
/*  float: left; */
  clear: none;
}
#node-69, #node-76 {
  clear: both;
  margin: 8px 0;
  padding-top: 1px;
  font-size: 12px;
  line-height: 130%;
  zoom: 1;
}
#node-76 p { margin: 8px 0; font-size: 9px; text-align: center; }
/* ADMIN */
.view-content table, #node-45 table {
  width: 100%;
}
/* CRAQBOCS */


/* INHERITED CONTENT */
TD {
  FONT: 9px  Verdana, Arial, sans-serif;
}
FONT {
  FONT: 9px  Verdana, Arial, sans-serif;
}
INPUT {
  FONT: 9px  Verdana, Arial, san-serif; 
  COLOR: #766d5b; 
  BACKGROUND-COLOR: #ffffff
}
SELECT {
 FONT: 9px  Verdana, Arial, san-serif;
 COLOR: #766d5b; 
 BACKGROUND-COLOR: #ffffff
}
TEXTAREA {
  FONT: 9px  Verdana, Arial, san-serif; COLOR: #766d5b; BACKGROUND-COLOR: #ffffff
}
.header {
  font-size: 14px;
  font-family: Arial;
  padding: 0px 10px 0px 5px;
}
.title {
  font-size: 14px;
  color: #CCCCCC;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
}
.content {
  font-size: 11px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.content-sm {
  font-size: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}
.list-events {
  padding: 5px 0px 0px 11px;
  font-size: 10px;
  font-weight: bold;
}
.bg-dash-h { 
  background-image: url(../images/main/hdash.gif); background-repeat: repeat-x
}
.blackdrop { background: #000; }
.border-grey {
  border: 1px solid #CCCCCC;
}
.breadcrumb {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  color: #FFFFFF;
}
.item-name {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-top: 14px;
  padding-left: 24px;
  color: #FFFFFF;
}
.item-blurb {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #C67300;
  padding: 14px;
}
.item-blurb-sm {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding-left: 24px;
  color: #FFFFFF;
}
.list-items {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #666666;
  padding-top: 5px;
  padding-right: 12px;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
}
.home-news {
  color: #666666;
  padding-top: 5px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
}
.home-news A:link {
  COLOR: #FFFFFF;
  text-decoration: none;
  font-size: 10px;
}
.home-news A:active {
  COLOR: #CCCCCC;
  font-size: 10px;
}
.home-news A:visited {
  COLOR: #CCCCCC;
  text-decoration: none;
  font-size: 10px;
}
.home-news A:hover {
  COLOR: #CCCCCC;
  BACKGROUND-COLOR: #969696;
  font-size: 10px;
}
.item-name-print {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-top: 14px;
  padding-left: 24px;
  color: #333333;
}
.item-blurb-print {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding-left: 24px;
  color: #333333;
}
.item-blurb-sm-print {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding-left: 24px;
  color: #333333;
}
.home-news-print {
  color: #666666;
  padding-top: 5px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding-right: 2px;
  padding-left: 2px;
}
.proj-name {
  font-family: Verdana;
  font-size: 9px;
  color: #333333;
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
}
.img-nextprev {
  font-family: Verdana;
  font-size: 10px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}
.home-headline {
  padding-right: 25px;
  padding-bottom: 25px;
}
.home-headname {
  font-size: 12px;
  padding: 5px;
  color: #333333;
}
.home-headmemo {
  font-size: 10px;
  padding: 5px;
  color: #666666;
}
.form-label { 
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  color: #666666; 
  padding-left: 
  15px; 
}
.form-input {
 font-size: 11px; 
 color: #666666; 
 text-align: left; 
 padding: 2px; 
 font-family: Verdana; 
 font-weight: bold; 
 border-top-width: 1px; 
 border-bottom-width: 1px; 
 border-top-style: solid; 
 border-bottom-style: solid;
  border-top-color: #CCCCCC; 
  border-bottom-color: #CCCCCC;
}
.form-header {
 font-family: Verdana, Arial, sans-serif; 
 font-size: 11px; 
 color: #666666; 
 background-color: #CCCCCC; 
 padding-left: 15px; 
 border-right-width: 1px; 
 border-right-style: solid; 
 border-right-color: #FFFFFF; 
}
.form-rows {
 font-family: Verdana, Arial, sans-serif;
 font-size: 10px; color: #333333;
 border-right-width: 1px;
 border-bottom-width: 1px; 
 padding-left: 3px; 
 border-right-style: solid; 
 border-bottom-style: solid; 
 border-right-color: #CCCCCC; 
 border-bottom-color: #CCCCCC; 
}
.form-desc { 
  font-size: 10px; 
  color: #999999; 
  text-align: left; 
  padding: 15px; 
  font-family: Verdana; 
  border-top-width: 1px; 
  border-bottom-width: 1px; 
  border-top-style: solid; 
  border-bottom-style: solid; 
  border-top-color: #CCCCCC; 
  border-bottom-color: #CCCCCC; 
}
.base {
  background-color: #848C52;
}
.base a:link {
  color: #FFFFFF;
}
.base a:visited {
  color: #EEEEEE;
}
.base a:hover {
  color: #E79431;
}
.home-main {
  font-family: Verdana;
  font-size: 11px;
  text-decoration: none;
  background-image: url(../images/main/homemain.gif);
}
.about-img {
  padding: 5px;
}
.about-header {
  font-family: Arial;
  font-size: 14px;
  background-color: #004263;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 10px;
  color: #FFFFFF;
}
.about-memo {
  font-family: Arial;
  font-size: 12px;
  color: #333333;
  padding: 10px;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
}
.proj-img-restclub {
  border: 4px solid #333333;
}
.proj-name {
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  color: #333333;
  padding-left: 10px;
  padding-top: 7px;
  padding-right: 15px;
  padding-bottom: 3px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-top-color: #FFFFFF;
  border-right-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  border-left-color: #FFFFFF;
}
.proj-memo {
  font-family: Arial;
  font-size: 10px;
  color: #333333;
  padding-left: 10px;
}
.proj-header {
  font-family: Arial;
  font-size: 18px;
  color: #523929;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.proj-listbox {
  background-color: #E7E7E7;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
.medText, .medText a:link, .medText a:active, .medText a:visited, .medText a:hover{ 
   color:           #2F1F0E;
   font-family: Verdana, Geneva, Helvetica, Trebuchet MS, Sans-serif;
   font-size:       10px; 
   font-weight:     normal;
} 
  .medText a:link    { color:  #000000; }
  .medText a:visited { color:  #E79431; }
  .medText a:active  { color:  #E79431; font-weight:bold; }
  .medText a:hover   { color:  #E79431; }
